<% include partials/header %>

<content>
    <h1 id='query'>Space Search for '<%= query %>'</h1>
    <% if(results.length == 0) { %>
        <p class='result'>The universe has no results for your query...</p>
    <% } else { %>
        <p class='result'>There are <%= results.length %> results.</p>
    <% }; %>
    <div id='pod'>
        <% var n=0 %>
        <% results.slice(n, n+15).forEach(function(item){ %>
            <% if(item.data[0].media_type !== 'video'){ %>
                <a class='item' href='/search/<%= item.data[0].nasa_id %>'>
                    <div class='img' style='background-image: url(<%= item.links[0].href %>);'></div>
                    <h4 class='title'><%= item.data[0].title %></h4>
                    <p class='desc'><%= item.data[0].description.substring(0, 120) + "..." %></p>
                </a>
            <% } else { %>
            <% } %>
            
        <% }); %>
        <!--<button id='see-more'>See More</button>-->
    </div>
</content>

<% include partials/footer %>